<div class="row">
  <div class="col-md-12">
      <h1 class="animated fadeIn fast">Acerca de Comic App!</h1>
      <hr>
      <p class="text-justify animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ipsam culpa natus veniam
        deserunt molestias placeat repellat ducimus reprehenderit cumque sint ullam omnis officia
        tempora aperiam consequatur id possimus tempore a nostrum voluptatibus nesciunt repudiandae,
        doloremque voluptatem. Deleniti dignissimos nihil minima repellendus optio quae accusamus tenetur
        pariatur. Esse, iste. Quae?</p>
  </div>
</div>
